@using GoLocal.TimeTracker.Dashboard.Resources
@model GoLocal.TimeTracker.Dashboard.ViewModels.MyMonthlyHoursViewModel
@inject LocService SharedLocalizer
@{
    ViewBag.Title = @SharedLocalizer.GetLocalizedHtmlString("lblAnalytics");
}
<link href="~/css/MonthPicker.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<script src="~/js/MonthPicker.min.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="~/js/LineChartGraph.js" asp-append-version="true"></script>
<div class="main-panel ms-Grid">
    <div class="pageHeading ms-Grid-col ms-md12 ms-lg12 ">
        <div class="pl0">
            <h1>
                @SharedLocalizer.GetLocalizedHtmlString("lblAnalytics")

            </h1>
        </div>
    </div>
    <div class="ms-Grid whitepanel">

        <div class="searchPanel  ms-Grid-row pT25 pb5  ">
            <div class=" ms-Grid-col ms-sm12 ms-md12 ms-lg12">

                <div class="ms-Grid-col ms-lg5 ms-sm5">
                    <div class="ms-TextField">
                        <label class="ms-Label">@SharedLocalizer.GetLocalizedHtmlString("Month") </label>
                        <input class="ms-TextField-field txtMonthlyDate" type="text" name="txtMonthlyDate" style="width:50%" value="" id="txtMonthlyDate">
                        @* @Html.TextBoxFor(m => m.SelectedDate, "{0:MMM, yyyy}", new { @class = "ms-TextField-field txtMonthlyDate", @id = "txtMonthlyDate", @name = "txtMonthlyDate" })*@
                    </div>
                </div>
                <div class="ms-Grid-col ms-sm12 ms-md4 ms-lg3 pull-right pr5">
                    <button class="ms-Button ms-Dialog-action ms-Button--primary pull-right mt20" style="display:none;" id="btnUpdateAnalytics">
                        <span class="ms-Button-label">@SharedLocalizer.GetLocalizedHtmlString("Update") </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="ms-Grid-col ms-sm12 ms-lg12  pT25 ">

        </div>
        <div class="weeklyviewTable ms-font-m">
            <div class="ms-Grid-col ms-sm12 ms-lg12">
                <span class="Reported" style="display:none;text-align:center;">@SharedLocalizer.GetLocalizedHtmlString("NoOvertimeReported") <span class="ReportMonth"></span></span>
            </div>
            <div class="ms-Grid-col ms-sm12 ms-lg12" id="canvas">
                <div class="Linechart pl20" style="width:100%;">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>

    </div>


</div>
<div class="hiddenelements" style="display:none;">
    <label id="Analyticslegend" style="display:none">@SharedLocalizer.GetLocalizedHtmlString("Analyticslegend")</label>
    <label id="PercentageofEmployees" style="display:none;">@SharedLocalizer.GetLocalizedHtmlString("PercentageofEmployees")</label>
    <label id="NoofEmployees" style="display:none;">@SharedLocalizer.GetLocalizedHtmlString("NoofEmployees")</label>
    <label id="January">@SharedLocalizer.GetLocalizedHtmlString("January")</label><label id="February">@SharedLocalizer.GetLocalizedHtmlString("February")</label><label id="March">@SharedLocalizer.GetLocalizedHtmlString("March")</label>
    <label id="April">@SharedLocalizer.GetLocalizedHtmlString("April")</label><label id="May">@SharedLocalizer.GetLocalizedHtmlString("May")</label><label id="June">@SharedLocalizer.GetLocalizedHtmlString("June")</label>
    <label id="July">@SharedLocalizer.GetLocalizedHtmlString("July")</label><label id="August">@SharedLocalizer.GetLocalizedHtmlString("August")</label><label id="September">@SharedLocalizer.GetLocalizedHtmlString("September")</label>
    <label id="October">@SharedLocalizer.GetLocalizedHtmlString("October")</label><label id="November">@SharedLocalizer.GetLocalizedHtmlString("November")</label><label id="December">@SharedLocalizer.GetLocalizedHtmlString("December")</label>
    <label id="Jan">@SharedLocalizer.GetLocalizedHtmlString("Jan")</label>
    <label id="Feb">@SharedLocalizer.GetLocalizedHtmlString("Feb")</label>
    <label id="Mar">@SharedLocalizer.GetLocalizedHtmlString("Mar")</label>
    <label id="Apr">@SharedLocalizer.GetLocalizedHtmlString("Apr")</label>
    <label id="May">@SharedLocalizer.GetLocalizedHtmlString("May")</label>
    <label id="June">@SharedLocalizer.GetLocalizedHtmlString("June")</label>
    <label id="July">@SharedLocalizer.GetLocalizedHtmlString("July")</label>
    <label id="Aug">@SharedLocalizer.GetLocalizedHtmlString("Aug")</label>
    <label id="Sep">@SharedLocalizer.GetLocalizedHtmlString("Sep")</label>
    <label id="Oct">@SharedLocalizer.GetLocalizedHtmlString("Oct")</label>
    <label id="Nov">@SharedLocalizer.GetLocalizedHtmlString("Nov")</label>
    <label id="Dec">@SharedLocalizer.GetLocalizedHtmlString("Dec")</label>
    <label id="Jump">@SharedLocalizer.GetLocalizedHtmlString("Jump")</label>
    <label id="Year">@SharedLocalizer.GetLocalizedHtmlString("Year")</label>
</div>
<script src="~/js/Chart.min.js"></script>
<script type="text/javascript">
    var Overtimeemployees = []; var monthlabel = [];
    $(document).ready(function () {
        monthlabel = [$('#Jan').text(), $('#Feb').text(), $('#Mar').text(), $('#Apr').text(), $('#May').text(), $('#June').text(), $('#July').text(), $('#Aug').text(), $('#Sep').text(), $('#Oct').text(), $('#Nov').text(), $('#Dec').text()];
        $('#txtMonthlyDate').MonthPicker({
            IsRTL: true,
            i18n: {
                year: $('#Year').text(),
                jumpYears: $('#Jump').text(),
                months: monthlabel
            },
            MaxMonth: -1,
            Button: false,
            MonthFormat: 'M, yy',
            OnAfterChooseMonth: function () {
                //GetLinechart($(this).val());
                $('#canvas').css("display", "none");
                $('.Reported').css("display", "none");
                GetResult($(this).val());
            }
        });

        $("#btnUpdateAnalytics").click(function () {
            $.ajax({
                type: 'GET',
                url: "/Analytics/UpdateAnalyticsRequest/",
                success: function (data) {
                    alert("success");
                },
                error: function (err) {
                    alert("error");
                }
            });
        })

    });
    function GetResult(Month) {
        $('#canvas').css("display", "block");
        var pos1 = 4; var pos2 = 7;
        var labels = []; var result = [];
        $.ajax({
            type: 'GET',
            url: "/Analytics/AnalyticsRequest/?dt=" + Month,
            success: function (data) {
                if (data != null) {
                    $.each(data, function (i, e) {
                        i = [i.slice(0, pos1), '-', i.slice(pos1)].join('');
                        i = [i.slice(0, pos2), '-', i.slice(pos2)].join('');
                        labels.push(i);
                        result.push(e.percentOfOTUsers);
                        Overtimeemployees.push(e.otUserCount);
                    });
                    if (result.length != 0 && Overtimeemployees.length != 0) {
                        var data = {
                            labels: labels,
                            datasets: [{
                                label:$("#Analyticslegend").text(),
                                fill: false,
                                borderWidth: 1,
                                borderColor: "#2a809f",
                                backgroundColor: "rgba(42, 128, 159, 1)",
                                data: result,
                            }, {
                                display: false,
                                label: "",
                                fill: false,
                                borderColor: "#fff",
                                backgroundColor: "transparent",
                                borderWidth: 0,
                                data: Overtimeemployees,
                            }]
                        };
                        var ctx = document.getElementById('myChart');
                        var LoginHistoryChart = new Chart(ctx, {
                            type: 'line',
                            data: data,
                            options: {
                                animation: false,
                                tooltips: {
                                    enabled: true,
                                    mode: 'single',
                                    custom: function (tooltip) {
                                        if (!tooltip) return;
                                        // disable displaying the color box;
                                        tooltip.displayColors = false;
                                    },
                                    callbacks: {
                                        //title: function(tooltipItem, data) {
                                        // return "Login History";

                                        //}, // This returns the hour range for the tool tip, and - Now for the current hour
                                        title: function (tooltipItems, data) {
                                            var tooltipItem = tooltipItems[0];
                                            if (tooltipItem.index == 23) {
                                                return data.labels[tooltipItem.index] + " - Now";
                                            } else {
                                                return data.labels[tooltipItem.index];
                                            }
                                        },
                                        // This sets the label for the tool tip for the number of either successfully logged on users
                                        // or failed users
                                        label: function (tooltipItem, data) {
                                            var successCount = data.datasets[0].data[tooltipItem.index];
                                            var failCount = data.datasets[1].data[tooltipItem.index];
                                            var msg = $('#PercentageofEmployees').text() + ":" + successCount + " ," + $('#NoofEmployees').text()+ ":" + failCount;
                                            return msg;
                                        }
                                    }
                                }
                            }
                        });
                    } else {
                        $('#canvas').css("display", "none");
                        $('.Reported').css("display", "block");
                        var resultflag = "";
                        switch (Month.split(',')[0].toLowerCase()) {
                            case "jan": resultflag = $("#January").text(); break;
                            case "feb": resultflag = $("#February").text(); break;
                            case "mar": resultflag = $("#March").text(); break;
                            case "apr": resultflag = $("#April").text(); break;
                            case "may": resultflag = $("#May").text(); break;
                            case "june": resultflag = $("#June").text(); break;
                            case "jun": resultflag = $("#June").text(); break;
                            case "jul": resultflag = $("#July").text(); break;
                            case "aug": resultflag = $("#August").text(); break;
                            case "sep": resultflag = $("#September").text(); break;
                            case "oct": resultflag = $("#October").text(); break;
                            case "nov": resultflag = $("#November").text(); break;
                            case "dec": resultflag = $("#December").text(); break;

                        }
                        $('.ReportMonth').text(resultflag + "," + Month.split(',')[1]);
                    }
                }
                else { alert("Error Occured"); }
            },
            error: function (err) {
            }
        })

    }
    function GetDataTip(t, e) {
        var ot = Overtimeemployees;
    }
</script>
@*<script src="~/js/Chart.min.js"></script>*@
