@model GoLocal.TimeTracker.Dashboard.ViewModels.MyTeamHoursViewModel
@using GoLocal.TimeTracker.Dashboard.Resources
@using GoLocal.TimeTracker.MiddleTier.Helpers

@using Newtonsoft.Json

@inject LocService SharedLocalizer
@{
    ViewBag.Title = @SharedLocalizer.GetLocalizedHtmlString("MyTeams");
}

<link href="~/css/MonthPicker.min.css" rel="stylesheet" />
@*<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>*@
<script src="~/js/jquery-ui.min.js"></script>
<script src="https://cdn.rawgit.com/digitalBush/jquery.maskedinput/1.4.1/dist/jquery.maskedinput.min.js"></script>

<script src="~/js/MonthPicker.min.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    div.dt-buttons {
        position: relative !important;
        float: left !important;
        padding-top: 0.25em;
    }
</style>

<div class="main-panel ms-Grid">
    <div class="pageHeading ms-Grid-col ms-md12 ms-lg12  ">
        <div class=" pl0">
            <h1>
                @SharedLocalizer.GetLocalizedHtmlString("MyTeamsHours")

            </h1>
        </div>
    </div>

    <div class="whitepanel ms-Grid">

        <div class="searchPanel  ms-Grid-row pT25 pb5  ">
            <div class=" ms-Grid-col ms-sm12 ms-md12 ms-lg12">
                <div class="ms-Grid-col ms-sm6 ms-md4 ms-lg6">
                    <div class="ms-Grid-col ms-lg5 ms-sm5">
                        <div class="ms-TextField">
                            <label class="ms-Label">@SharedLocalizer.GetLocalizedHtmlString("Month") </label>
                            @Html.TextBoxFor(m => m.SearchDate, "{0:MMM, yyyy}", new { @class = "ms-TextField-field txtTeamMonthlyDate", @id = "txtTeamMonthlyDate", @name = "txtTeamMonthlyDate" })
                        </div>
                    </div>

                </div>
                <div class="ms-Grid-col ms-sm12 ms-md4 ms-lg3 pull-right pr15">
					<label class="ms-Label searchlabel">@SharedLocalizer.GetLocalizedHtmlString("Search")</label>


                    <div class="ms-SearchBox myteamSearch pull-right">

                        <input class="ms-SearchBox-field" type="text" value="" id="txtMyTeamSearch">

                        <label class="ms-SearchBox-label">
                            <i class="ms-SearchBox-icon ms-Icon ms-Icon--Search"></i>

                        </label>
                        <div class="ms-CommandButton ms-SearchBox-clear ms-CommandButton--noLabel">

                        </div>
                    </div>




                </div>


            </div>
        </div>

        <div class="weeklyviewTable bottomborder ms-font-m">

            <table id="tblMyTeam" class="display ms-Table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Name")</th>
                        @*<th>@SharedLocalizer.GetLocalizedHtmlString("CalculatedHours")</th>*@
                        <th>@SharedLocalizer.GetLocalizedHtmlString("TotalHours")</th>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("ObjectIdentifier")</th>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Id")</th>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Date")</th>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Status")</th>
                        <th>@SharedLocalizer.GetLocalizedHtmlString("Action") </th>

                    </tr>
                </thead>

            </table>
        </div>
        <div class="ms-Grid pull-right mt30  ">

            <div class="docs-DialogExample-close">
                <div class="ms-Dialog ms-Dialog--close">
                    <button class="ms-Dialog-button ms-Dialog-buttonClose">
                        <i class="ms-Icon ms-Icon--Cancel"></i>
                    </button>
                    <div class="ms-Dialog-title">@SharedLocalizer.GetLocalizedHtmlString("Confirm")</div>
                    <div class="ms-Dialog-content mt30">
                        <p> @SharedLocalizer.GetLocalizedHtmlString("SubmitTeamHours") <span id="SubmitMonths"></span>. <br /> @SharedLocalizer.GetLocalizedHtmlString("DoYouWantToContinue")</p>
                    </div>
                    <div class="ms-Dialog-actions">
                        <button class="ms-Button ms-Dialog-action ms-Button--primary " id="btnSubmitHrsForMyTeam">
                            <span class="ms-Button-label">@SharedLocalizer.GetLocalizedHtmlString("Continue") </span>
                        </button> &nbsp;
                        <button class="ms-Button ms-Dialog-action pl0 ">
                            <span class="ms-Button-label">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</span>
                        </button>
                    </div>
                </div>
                <img id="loadingSubmit" src="~/images/Loading.gif" class="hidden" height="20" />


            @if (Model.SubmitToHR)
            {
                <button class="ms-Button docs-DialogExample-button ms-Button--primary font-white" id="SubmitToHRBtn">@SharedLocalizer.GetLocalizedHtmlString("SubmitToHR")</button>
                <p class="font12" id="SubmitOnMsg">
                    <font id="submittedOnMsg">
                        @SharedLocalizer.GetLocalizedHtmlString("SubmitSuccess")
                    </font>&nbsp;<font id="submittedDate"></font>
                </p>
           }
           else
           {
                <button class="ms-Button docs-DialogExample-button ms-Button--primary font-white" disabled="disabled" id="SubmitToHRBtn">@SharedLocalizer.GetLocalizedHtmlString("SubmitToHR")</button>
                <p class="font12 hidden" id="SubmitOnMsg">
                    <font id="submittedOnMsg">
                        @SharedLocalizer.GetLocalizedHtmlString("SubmitSuccess")
                    </font>&nbsp;<font id="submittedDate"></font>
                </p>
           }

                <label class="docs-DialogExample-label "></label>
            </div>

            <p class="font12 text-danger hidden" id="FailedToSubmitMsg">
                <font id="submittedOnMsg">
                    @SharedLocalizer.GetLocalizedHtmlString("FailedtoSubmit")
                </font>:&nbsp;<font id="submittedDateFailed"></font>
            </p>
            <p class="font12" id="SubmitErrMsg"></p>
        </div>
    </div>

        
    </div>

    <div id="EditTime" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header noBorder">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@SharedLocalizer.GetLocalizedHtmlString("EditTime")</h4>
                    <img id="loadingEditHrs" src="~/images/Loading.gif" class="hidden" height="20" />
                </div>
                <div class="modal-body">
                    <div class="ms-Grid-row divDispMsg">
                        <div class="alert alert-success hidden">
                            @SharedLocalizer.GetLocalizedHtmlString("EditWorkHoursUpdatedSuccessMsg")
                        </div>
                        <div class="alert alert-danger hidden">
                            @SharedLocalizer.GetLocalizedHtmlString("EditWorkHoursUpdatedFailureMsg")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="dispEmpNameImg">
                        </div>
                        <div class="col-md-12">
                            <div class="ms-TextField pT25">
                                <label class="ms-Label">@SharedLocalizer.GetLocalizedHtmlString("AdjustedHours")</label>
                                <input class="ms-TextField-field timepicker5" type="text" name="timepicker5" value="" placeholder="01:00" id="txtAdjHrs">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer noBorder">
                    <div class="ms-Grid-row">
                        <button class="ms-Button ms-Button--primary btnEditAdjHrs">
                            <span class="ms-Button-label"> @SharedLocalizer.GetLocalizedHtmlString("Save")</span>
                        </button> &nbsp;

                        <button class="ms-Button ">
                            <span class="ms-Button-label" data-dismiss="modal">@SharedLocalizer.GetLocalizedHtmlString("Cancel") </span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="ReCheck" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header noBorder">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@SharedLocalizer.GetLocalizedHtmlString("RequestRevision") </h4>
                </div>
                <div class="modal-body">
                    <div class="ms-Grid-row divDispMsg">
                        <div class="alert alert-success hidden">
                            @SharedLocalizer.GetLocalizedHtmlString("MyTeamReviseSuccessMsg")
                        </div>
                        <div class="alert alert-danger hidden">
                            @SharedLocalizer.GetLocalizedHtmlString("MyTeamReviseFailureMsg")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="recheckEmpNameImg">

                        </div>

                    </div>

                    <div class=" pT25">

                        <div class="ms-TextField ms-TextField--multiline">
                            <label class="ms-Label"> @SharedLocalizer.GetLocalizedHtmlString("Reason") </label>
                            <textarea class="ms-TextField-field" id="txtRequestReason">@SharedLocalizer.GetLocalizedHtmlString("RevisionReason")</textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer noBorder pr22">
                    <div class="ms-Grid-row">
                        <img id="loadingEdit" src="~/images/Loading.gif" class="hidden" height="20" />
                        <button class="ms-Button ms-Button--primary btnReviseRequest">
                            <span class="ms-Button-label"> @SharedLocalizer.GetLocalizedHtmlString("Revise")</span>
                        </button> &nbsp;

                        <button class="ms-Button btnReviseRequestClose ">
                            <span class="ms-Button-label">@SharedLocalizer.GetLocalizedHtmlString("Close")</span>
                        </button>


                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="hiddenfields" style="display:none;">
        <label id="Jan">@SharedLocalizer.GetLocalizedHtmlString("Jan")</label>
        <label id="Feb">@SharedLocalizer.GetLocalizedHtmlString("Feb")</label>
        <label id="Mar">@SharedLocalizer.GetLocalizedHtmlString("Mar")</label>
        <label id="Apr">@SharedLocalizer.GetLocalizedHtmlString("Apr")</label>
        <label id="May">@SharedLocalizer.GetLocalizedHtmlString("May")</label>
        <label id="June">@SharedLocalizer.GetLocalizedHtmlString("June")</label>
        <label id="July">@SharedLocalizer.GetLocalizedHtmlString("July")</label>
        <label id="Aug">@SharedLocalizer.GetLocalizedHtmlString("Aug")</label>
        <label id="Sep">@SharedLocalizer.GetLocalizedHtmlString("Sep")</label>
        <label id="Oct">@SharedLocalizer.GetLocalizedHtmlString("Oct")</label>
        <label id="Nov">@SharedLocalizer.GetLocalizedHtmlString("Nov")</label>
        <label id="Dec">@SharedLocalizer.GetLocalizedHtmlString("Dec")</label>
        <label id="Jump">@SharedLocalizer.GetLocalizedHtmlString("Jump")</label>
        <label id="Year">@SharedLocalizer.GetLocalizedHtmlString("Year")</label>
    </div>
    <script type="text/javascript">
        var monthlabel = [];
        $(document).ready(function () {
            monthlabel = [$('#Jan').text(), $('#Feb').text(), $('#Mar').text(), $('#Apr').text(), $('#May').text(), $('#June').text(), $('#July').text(), $('#Aug').text(), $('#Sep').text(), $('#Oct').text(), $('#Nov').text(), $('#Dec').text()];
            $('#tblMyTeam').dataTable({
            "processing": false,
            "serverSide": true,
            "info": false,
            "stateSave": false,
            "pagingType": "simple",
            "paging": true,
            "lengthMenu": [[10], [10]],
            "ajax":{
                "url": "/TeamHours/MyTeamRevisionRequest/",
                "type": "GET",
                "data": function (d) { var selDt = $("#txtTeamMonthlyDate").val(); d.date = selDt; },
                "dataSrc": function (json) {
                    if (json.data.length == 0) {
                        $("#tblMyTeam").DataTable().buttons().disable();
                    } else {
                        $("#tblMyTeam").DataTable().buttons().enable();
                    }
                    if (json.submitToHR) {
                        $("#SubmitToHRBtn").prop("disabled", false);
                        $("#SubmitOnMsg").addClass('hidden').show();
                        $("#submittedDate").text('');
                    } else {
                        $("#SubmitToHRBtn").prop("disabled", true);
                        if (json.submittedDate != "" && json.submittedDate != "1/1/0001") {
                            $("#SubmitOnMsg").removeClass('hidden').show();
                            $("#submittedDate").text(json.submittedDate);
                        }
                    }
                    if (json.submittedDate == "0001/01/01") {
                        $("#SubmitOnMsg").addClass('hidden').show();
                    }
                    return json.data;
                }
            },
            "columns": [
                { "data": "name", "orderable": false },
                //{ "data": "computedHours", "orderable": false },
                { "data": "adjustedHours", "orderable": false },
                { "data": "objectIdentifier", "visible": false },
                { "data": "id", "visible": false },
                { "data": "date", "visible": false },
                { "data": "status", "orderable": false },
                { "data": "action", "orderable": false }
                ],
                "language": {
                    "emptyTable": '@SharedLocalizer.GetLocalizedHtmlString("DatableEmptyMessage")' + $('#txtMonthlyDate').val(),
                    "paginate": {
                        "next": '@SharedLocalizer.GetLocalizedHtmlString("Next")', // or '→'
                        "previous": '@SharedLocalizer.GetLocalizedHtmlString("Previous")' // or '←' 
                    }
                },
            "order": [[0, "asc"]],
            "dom": 'frtipB',
            "buttons": [
                {
                    "extend": 'csv',
                    "text": '@SharedLocalizer.GetLocalizedHtmlString("Export")',
                    "exportOptions": {
                        "columns": [0, 1, 5]
                    }
                },
                {
                    "extend": 'print',
                    "text": '@SharedLocalizer.GetLocalizedHtmlString("lblPrint")',
                    "exportOptions": {
                        "columns": [0, 1, 5]
                    }
                }
            ]
        });
        $(document).on("keypress", "#txtMyTeamSearch", function (e) {
            if (e.which == 13) {
                $("#SubmitOnMsg").addClass('hidden');
                $("#tblMyTeam").dataTable().fnDestroy();
                $('#tblMyTeam tbody').empty();
                $("#tblMyTeam").dataTable({
                    "processing": false,
                    "serverSide": true,
                    "info": false,
                    "stateSave": false,
                    "pagingType": "simple",
                    "paging": true,
                    "lengthMenu": [[10], [10]],
                    "ajax": {
                        "url": "/TeamHours/MyTeamRevisionRequest/",
                        "type": "GET",
                        "data": {
                            "date": $("#txtTeamMonthlyDate").val(),
                            "searchtext": $(this).val(),
                        },
                        "dataSrc": function (json) {
                            if (json.data.length == 0) {
                                $("#tblMyTeam").DataTable().buttons().disable();
                            } else {
                                $("#tblMyTeam").DataTable().buttons().enable();
                            }
                            if (json.submitToHR) {
                                $("#SubmitToHRBtn").prop("disabled", false);
                                $("#SubmitOnMsg").removeClass('hidden').show();
                                $("#submittedDate").text(@Model.SubmittedDate);
                            } else {
                                $("#SubmitToHRBtn").prop("disabled", true);
                                if (json.submittedDate != "" && json.submittedDate != "1/1/0001") {
                                    $("#SubmitOnMsg").removeClass('hidden').show();
                                    $("#submittedDate").text(json.submittedDate);
                                }
                            }
                            if (json.submittedDate == "0001/01/01") {
                                $("#SubmitOnMsg").addClass('hidden').show();
                            }
                            return json.data;
                        }
                    },
                    "columns": [
                        { "data": "name", "orderable": false },
                        //{ "data": "computedHours", "orderable": false },
                        { "data": "adjustedHours", "orderable": false },
                        { "data": "objectIdentifier", "visible": false },
                        { "data": "id", "visible": false },
                        { "data": "date", "visible": false },
                        { "data": "status", "orderable": false },
                        { "data": "action", "orderable": false }
                    ],
                    "order": [[0, "asc"]],
                    "dom": 'frtipB',
                    "language": {
                        "emptyTable": '@SharedLocalizer.GetLocalizedHtmlString("DatableEmptyMessage")' + $('#txtMonthlyDate').val(),
                    "paginate": {
                        "next": '@SharedLocalizer.GetLocalizedHtmlString("Next")', // or '→'
                        "previous": '@SharedLocalizer.GetLocalizedHtmlString("Previous")' // or '←' 
                      }
                    },
                    "buttons": [
                        {
                            "extend": 'csv',
                            "text": '@SharedLocalizer.GetLocalizedHtmlString("Export")',
                            "exportOptions": {
                                "columns": [0, 1, 5]
                            }
                        },
                        {
                            "extend": 'print',
                            "text": '@SharedLocalizer.GetLocalizedHtmlString("lblPrint")',
                            "exportOptions": {
                                "columns": [0, 1, 5]
                            }
                        }
                    ]
                }).search($(this).val()).draw();

            }
        });
    });

    var myTeamHrs = @Html.Raw(JsonConvert.SerializeObject(Model.MyTeam));
	var btnSubmitHrsForMyTeam = $("#btnSubmitHrsForMyTeam");
    $(document).ready(function () {
        $(".divDispMsg").hide();

        $('#tblMyTeam tbody').on('click', '.editHrs', function () {
            var data = $('#tblMyTeam').row($(this).parents('tr')).data();
            $("#dispEmpNameImg").html(data[0]);
            var adjHrs = data[2].replace('h', '').replace('m', '').split(' ');
            var adjTime = parseInt(adjHrs[0]) + ':' + parseInt(adjHrs[1]);
            $('#txtAdjHrs').timepicki({ start_time: [parseInt(adjHrs[0]), parseInt(adjHrs[1])], show_meridian: false });

            $("#txtAdjHrs").val(adjTime);
            $("#txtAdjHrs").attr("objIdentifier", data[3]);
            $('#EditTime').modal('show');

        });

        $('#tblMyTeam tbody').on('click', '.recheckHrs', function () {
            var data = $('#tblMyTeam').DataTable().row($(this).parents('tr')).data();
            //$("#recheckEmpNameImg").html(data[0]);
            //$("#wrkHrs").text(data.acomputedHours);
            $("#txtRequestReason").attr("objIdentifier", data.objectIdentifier); // Setting employee identifier
            $("#txtRequestReason").attr("empDate", data.date);
            $("#txtRequestReason").attr("empId", data.id);
            //$("#txtRequestReason").val(''); // clear value in textarea before opening the popup
            $('#ReCheck').modal('show');

        });

        $('#ReCheck').on('hidden.bs.modal', function () {
            $("#txtRequestReason").removeAttr("objIdentifier");
            $("#txtRequestReason").removeAttr("empDate");
            $("#txtRequestReason").removeAttr("empId");
            $("#txtRequestReason").val('');
        });

        // MyTeamRevisionRequest - MyTeams
        $(".btnReviseRequest").click(function () {
            $("#loadingEdit").removeClass("hidden").show();
            var reviseRequestObj = {
				"selDate": ($("#txtTeamMonthlyDate").val() == "") ? new Date().toUTCString() : $("#txtTeamMonthlyDate").val(),
				"dateNotSelected": ($("#txtTeamMonthlyDate").val() == "") ,
                "reason": $("#txtRequestReason").val(),
                "objIdentifier": $("#txtRequestReason").attr('objIdentifier'),
                "empid": $("#txtRequestReason").attr('empId'),
                "empDate": $("#txtRequestReason").attr('empDate')
            };
            $("#loadingEdit").removeClass("hidden").show();
            $(".btnReviseRequest").attr("disabled", true);
            $.ajax({
                url: "/Home/MyTeamRevisionRequest/",
                type: 'post',
                data: reviseRequestObj,
                success: function (data) {
                    if (data.responseCode > 0) {
                        $(".btnReviseRequest").attr("disabled", true);
                        $("#loadingEdit").addClass("hidden");
                        $(".divDispMsg").show();
                        $(".alert-success").removeClass("hidden").show();

                        $(".alert-success").fadeTo(2000, 500).slideUp(500, function () {
                            $(".alert-success").slideUp(500);
                            $(".alert-success").addClass("hidden");
                        });
                    } else {
                        $(".divDispMsg").show();
                        $("#loadingEdit").addClass("hidden");
                        $(".alert-danger").removeClass("hidden").show();
                        $("#btnEditHrs").attr("disabled", false);
                        $(".btnReviseRequest").attr("disabled", false);

                        $(".alert-danger").fadeTo(2000, 500).slideUp(500, function () {
                            $(".alert-danger").slideUp(500);
                            $("#btnEditHrs").attr("disabled", false);
                            $(".alert-danger").addClass("hidden");
                        });

                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(".divDispMsg").show();
                    $("#loadingEdit").addClass("hidden");
                    $(".alert-danger").removeClass("hidden").show();
                    $("#btnEditHrs").attr("disabled", false);
                    $(".btnReviseRequest").attr("disabled", false);

                    $(".alert-danger").fadeTo(2000, 500).slideUp(500, function () {
                        $(".alert-danger").slideUp(500);
                        $("#btnEditHrs").attr("disabled", false);
                        $(".alert-danger").addClass("hidden");
                    });
                }
            });
        });

        $(".btnReviseRequestClose").click(function () {
            $('#ReCheck').modal('hide');
            if ($(".btnReviseRequest").attr("disabled")) {
                window.location = "/Home/MyTeams/";
            }
        });

        $('#txtTeamMonthlyDate').MonthPicker({
            IsRTL: true,
            i18n: {
                year: $('#Year').text(),
                jumpYears:$('#Jump').text(),
                months: monthlabel
            },
            MaxMonth: -1,
            Button: false,
            MonthFormat: 'M, yy',
            OnAfterChooseMonth: function () {
                //$("#loadingSearch").removeClass("hidden").show();
                fnGetTeamsByMonth();
            }
        });

        var submitHR = "@Model.SubmitToHR"
        if (submitHR == 'True') {
            $("#SubmitToHRBtn").prop("disabled", false);
            $("#SubmitToHRBtn").attr("disabled", false);
            //$("#SubmitToHR").removeClass('hidden').show();
        }
        else {
            $("#SubmitToHRBtn").prop("disabled", true);
            $("#SubmitToHRBtn").attr("disabled", true);
            //$("#SubmitToHR").addClass('hidden');
        }

        //set requested date in datepicker
        var selDt = getParameterByName('selMonthDt');
        if (selDt) {
            $("#txtTeamMonthlyDate").val(selDt);
            $('#selMonthYear').text(selDt);
            $("#DisplayMonthYear").show();
            $("#SubmitMonths").text($("#txtTeamMonthlyDate").val().replace(',', '-'));
			$("#SubmitMonths").text(getMonthLongName());
        } else {
            var selectedDate = "@Model.SearchDate.ToString("MMM, yyyy")";
            $("#txtTeamMonthlyDate").val(selectedDate);
            $('#selMonthYear').text(selectedDate);
            $("#DisplayMonthYear").show();
            $("#SubmitMonths").text($("#txtTeamMonthlyDate").val().replace(',', '-'));
			$("#SubmitMonths").text(getMonthLongName());
        }

        function fnGetTeamsByMonth() {
            var selDt = $("#txtTeamMonthlyDate").val();
            var monthRequest = [{ name: "dt", value: selDt }];
            window.location = '?selMonthDt=' + selDt;

        }

        //  Attach event handler to submit button
        btnSubmitHrsForMyTeam.click(function () {
            SubmitHoursForMyTeam();
		});

		function getMonthLongName()
		{
			var monthYear = $("#txtTeamMonthlyDate").val();
			var splitData = monthYear.split(',');
			var month = splitData[0];
			//data coming from the picker is in short month format, jan etc , to display the full month this logic is used
			switch (month.toLowerCase())
			{
				case "jan": month = "January"; break;
				case "feb": month = "February"; break;
				case "mar": month = "March"; break;
				case "apr": month = "April"; break;
				case "may": month = "May"; break;
				case "jun": month = "June"; break;
				case "jul": month = "July"; break;
				case "aug": month = "August"; break;
				case "sep": month = "September"; break;
				case "oct": month = "October"; break;
				case "nov": month = "November"; break;
				case "dec": month = "December"; break;

			}
			return month + " " + splitData[1].replace(' ',''); // to remove the additional space
		}
        function SubmitHoursForMyTeam() {
            var submiMonth = {
                "selDate": ($("#txtTeamMonthlyDate").val() == "") ? new Date().toUTCString() : $("#txtTeamMonthlyDate").val()
            };

            $("#loadingSubmit").removeClass("hidden").show();
            var selId = $(this).attr("id");
            $("#SubmitToHR").attr("disabled", true);
            $.ajax({
                url: "/Home/SubmitButtonForMyTeamHours/",
                type: 'post',
                data: submiMonth,
                success: function (data) {
                    if (data.responseCode > 0) {
                        $("#loadingSubmit").addClass("hidden");
                        $("#FailedToSubmitMsg").hide();
                        $("#SubmitOnMsg").removeClass("hidden").show();
                        $("#SubmitToHRBtn").prop("disabled", true);
                        var submittedDate = data.submittedOnDate.split(" ");
                        $("#submittedDate").text(submittedDate[0]);
                    } else {
                        $("#SubmitToHRBtn").prop("disabled", false);
                        $("#loadingSubmit").addClass("hidden");
                        $("#SubmitOnMsg").addClass("hidden");
                        $("#FailedToSubmitMsg").removeClass("hidden").show();
                        $("#submittedDateFailed").text("Please retry.").addClass('text-danger');

                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#loadingSubmit").addClass("hidden");
                    //TODO:handle error
                    $("#SubmitErrMsg").text(errorThrown);
                }
            });
        }
    });

    </script>


